*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inizio header*/

header{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

button{
    margin-right: 5px;
    border: none;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}

header button a{
    text-decoration: none;
    color: white;
}

header button i{
    color: white;
}

/*fine header*/

/*inizio main*/

main{
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .utente{
    width: calc(100% / 6 - 40px);
    height: 150px;
    margin: 10px;
    position: relative;
}

.container .utente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .utente .name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    margin: 2px;
}

/*fine main*/


