*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

/*inizio header*/

header{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

button{
    margin-right: 5px;
    border: none;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}

header button a{
    text-decoration: none;
    color: white;
}

header button i{
    color: white;
}

/*fine header*/

/*inizio main*/

main{
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .utente{
    width: calc(100% / 6 - 40px);
    height: 150px;
    margin: 10px;
    position: relative;
}

.container .utente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .utente .name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    margin: 2px;
}

/*fine main*/

/*inizio footer*/

footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .left{
    flex-basis: auto;
    flex-grow: 1;
}

footer .center{
    flex-basis: auto;
    flex-grow: 2;
}

footer .container-box{
    display: flex;
    align-items: center;
    height: 100%;
}

footer .container-box .box{
    margin: 0 20px;
}

footer .container-box .box .icon{
    text-align: center;
    font-size: 25px;
}

footer .container-box .rosso{
    display: flex;
    color: red;
    background-color: gray;
    height: 100%;
    align-items: center;
}

footer .container-box .box .special{
    color: green;
}

/*fine footer*/
